<div class="vote">
    <div class="stats">
        Total rate: <span class="digit">{{total_rate}}</span>
    </div>
    <div class="control">
        <div class="errors"></div>
        <a class="{{plus_class}} sr_voter sr_plus" href="{{vote_link}}/plus"> + </a> | <a class="{{minus_class}} sr_voter sr_minus" href="{{vote_link}}/minus"> - </a>
    </div>
</div>
